mat-toolbar {
    background-color: rgb(42, 40, 40);
    color: white;
}

mat-icon {
    color: white;
    background-color: rgb(42, 40, 40);
}

button {
    background-color: rgb(42, 40, 40);
    border: none;
}

.example-spacer {
    flex: 1 1 auto;
}

.menu-item-btn {
    background: none;
}

.menu-icon-btn {
    background: none;
}