mat-toolbar {
    background-color: #181C14;
    color: #f4f4f4;
}

mat-icon {
    color: #f4f4f4;
    background-color: #181C14;
}

button {
    background-color: #181C14;
    border: none;
}

.example-spacer {
    flex: 1 1 auto;
}

.menu-item-btn {
    background: none;
}

.menu-icon-btn {
    background: none;
}