app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.app-container {
  display: flex;
  margin-top: 56px;
  height: 100vh;
  transition: margin-left 0.3s ease;
  position: relative;
}

app-sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 250px;
  height: calc(100vh - 56px); 
  background-color: #2e3b4e;
  color: white;
  transition: transform 0.3s ease; 
  z-index: 5;
}

app-sidebar {
  transform: translateX(-250px);
}

.app-container.sidebar-visible app-sidebar {
  transform: translateX(0);
}


.content-area {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-container.sidebar-visible .content-area {
  margin-left: 250px;
}

.app-container.sidebar-hidden .content-area {
  margin-left: 0;
}

@media (max-width: 768px) {
  app-sidebar {
    transform: translateX(-250px);
  }

  .app-container.sidebar-visible app-sidebar {
    transform: translateX(0);
  }

  .content-area {
    margin-left: 0; 
  }
}
